.favText {
  font-size: 24px;
  color: #475467;
  text-align: center;
  margin-bottom: 16px;
}

.favLink {
  color: var(--red-color);
  transition: color var(--transition);
}

.favLink:hover,
.favLink:focus {
  color: var(--red-hover);
}
