.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 44px;
}

.imgList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.styledDescription {
  width: 902px;
  color: #475467;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.buttonContainer {
  display: flex;
  gap: 40px;
  
}

.styledButton {
  color: #101828;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  background-color: transparent;
}
