.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--main-text);
}

.logoLink {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: transform 0.3s ease 0s;
}

.logoIcon {
  stroke: black;
}

.logoLink:hover,
.logoLink:focus {
  transform: scale(1.1);
}

.nav {
  display: flex;
  gap: 40px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px 0;
  font-size: 20px;
  font-weight: 600;
  transition: transform var(--transition);
}

.link:hover,
.link:focus {
  transform: scale(1.1);
}
